@charset "utf-8";
/* CSS Document */


/* pre */

html {
    margin: 0;
    padding: 0;   
}

body {
    background-color: #333;
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;   
}

#dev {
    color: #ED6E00;   
}

/* content */

.header {
    position: absolute;
    margin: 0 auto;
    top: 0;
    width: 70%;
}

.header h1 {
    color: #00ccff;
    text-shadow: 0 0 15px #f7f7f7;
    margin: 0;
    padding: 0;
}

.header p:nth-child(2) {
    color: #00ccff;
    text-decoration: overline;
    text-shadow: 0 0 15px #f7f7f7; 
    padding: 0;
    margin: 0; 
}


/* Game selection */

.splashContent {
    position: relative;
    width: 70%;
    margin: 0 auto;
    top: 120px;
}

.splashContent h2 {
    color: #f0f0f0;  
    text-shadow: 0 0 15px #f7f7f7;
    text-align: center;
    margin: 20px 0 120px 0;
}

.splashContent #mc {        /* Minecraft */
    position: relative;
    float: left;
    left: 30%;
    top: -15px;
}

.splashContent #mc img {
    width: 300px;
    height: 130px;
}

.splashContent #mc img:hover {
    box-shadow: 0 0 130px #33ffff inset;   
}

.splashContent .seperator {
    position: relative;  
    left: 15%;
    top: 20px;
    z-index: -1;
}

.splashContent .seperator img {
       
}


.splashContent #gw2 {       /* Guild Wars 2 */
    position: relative;
    top: -70px;
    float: right;
    right: 32%;
}

.splashContent #gw2 img {
    width: 300px;
    height: 150px;   
}

.splashContent #gw2 img:hover {
    box-shadow: 0 0 130px #33ffff inset;   
}



/* footer */

.footer {
   background-color: #333;
   position: relative;
   margin: 0 auto;
   width: 70%;
   top: 400px;
   clear: both;
   text-align: center;
    
}

.footer small {
   color: #f0f0f0;
   font-size: 1em;
   text-shadow: 0 0 15px #f7f7f7;
}