@charset "UTF-8";
/* CSS Document */

html, body {
    padding: 0;
    width: 90%;
    position: absolute;
    
}

body {
    background-color: #d2d2d2;   
}

/* HEADER */

.header {
    margin: auto;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 70px;
    background-color: #00D3DE;
    box-shadow: 0 0 10px #333;
}

.header .logo {

}

.header .brand {
    position: relative;
    top: -22px;
    left: 130px;
}

.header .brand h1,h3 {
    margin: auto;   
}

.header .brand h3 {
    position: relative;
    left: 60px;
}

/* MAIN CONTENT */

.mainContent {
    position: relative;
    top: 90px;
	left: 15%;
	width: 50%;
}

.mainContent #articles {
    background-color: white;
    margin: auto;
    overflow: visable;
}

#eventsUpcoming {
	float: right;
	position: relative;
    background-color: white;
	border: black 2px solid;
	width: 30%;
	height: 5%;
	margin: 0 0 30px 20px;
}

#twitterFeed {
    float: right;
	position: relative;
	background-color: white;
	border: black 2px solid;
	width: 30%;
	height: 10%;
	clear: both;
}

/* FOOTER */

.footer {
    position: relative;
    top: 100px;
    left: 200px;
    height: 20px;
    width: 100%;
    background-color: #00D3DE;
    margin: auto;
	clear: both;
}

.footer p {
    text-align: center;   
}